<div class="about_top">
    <div class="container" style="background: #122b40">
        <div class="about">
            <h1 class="blog_head" style="color: #F94B4B">Your data:</h1>


            <div class="contact">


                <div class="col-md-2 contact_left">

                </div>
                <div class="col-md-8 contact_right">
                    <form ng-submit="verifyerModifyCtrl.change()">
                        <center>
                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                            <div class="clearfix"> </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="name">Name:</span>
                                    <input type="text" class="text" id="name" ng-model="verifyerModifyCtrl.userData.name" value="Change name">
                                </div>
                                <div class="text-fild">
                                    <span for="surname">Surname:</span>
                                    <input type="text" class="text" id="surname" ng-model="verifyerModifyCtrl.userData.surname" value="Change surname">
                                </div>
                            </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="username">Username:</span>
                                    <input type="text" class="text" id="username" ng-model="verifyerModifyCtrl.userData.username" disabled>
                                </div>
                                <div class="text-fild">
                                    <span for="email">Email:</span>
                                    <input type="text" class="text" id="email" ng-model="verifyerModifyCtrl.userData.email" value="Change email">
                                </div>
                            </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="birthdate">Date of birth:</span>
                                    </br>
                                    <input style="width: 350px; !important "type="date" class="text" id="birthdate" ng-model="verifyerModifyCtrl.userData.birthdate" required value="Change date of birth here">
                                </div>
                                <div class="text-fild">
                                    <span for="phoneNumber">Phone number:</span>
                                    <input type="text" class="text" id="phoneNumber" ng-model="verifyerModifyCtrl.userData.phoneNumber" value="Change phone number here">
                                </div>
                            </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="address">Address:</span>
                                    <input type="text" class="text" id="address" ng-model="verifyerModifyCtrl.userData.address" value="Change address">
                                </div>
                                <div class="text-fild">
                                    <span for="city">City:</span>
                                    <input type="text" class="text" id="city" ng-model="verifyerModifyCtrl.userData.city"  value="Change city ">
                                </div>
                            </div>
                            <div>
                                <div class="text-fild">
                                    <span for="country">Country:</span>
                                    <input type="text" class="text" id="country" ng-model="verifyerModifyCtrl.userData.country" value="Change country here">
                                </div>
                                <div class="text-fild">
                                    <span for="accountNumber">Bank account:</span>
                                    <input type="text" class="text" id="accountNumber" ng-model="verifyerModifyCtrl.userData.accountNumber" value="Change bank account number">
                                </div>
                            </div>

                            <div class="clearfix"> </div>

                            <div align = "Center">

                                <label class="btn1 btn-8 btn-8c"><input type="submit"  value="Save"></label>
                            </div>
                    </form>

                    </br>
                    </br>

                </div>
            </div>
        </div>


    </div>





    <div class="clearfix"> </div>
</div>





<div class="clearfix"> </div>
</br>

</div>
</div>
