<div class="row">
    <div class="col-md-4">
        <h1>Register</h1>
        <hr><br>
        <form ng-submit="registerCtrl.register()" >
            <div>
                <select ng-model="registerCtrl.newUser.userType" required>
                    <option ng-repeat="t in registerCtrl.types">{{t}}</option>

            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="enter username" ng-model="registerCtrl.newUser.username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="enter password" ng-model="registerCtrl.newUser.password" required>
            </div>

            <div class="form-group">
                <label for="perpassword">Repeat password</label>
                <input type="password" class="form-control" id="perpassword" placeholder="repet password" ng-model="registerCtrl.newUser.repeatpass" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="enter email" ng-model="registerCtrl.newUser.email" required>
            </div>

            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="enter address" ng-model="registerCtrl.newUser.address" required>
            </div>

            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="enter city" ng-model="registerCtrl.newUser.city" required>
            </div>

            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" placeholder="enter country" ng-model="registerCtrl.newUser.country" required>
            </div>

            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="Name" placeholder="enter name" ng-model="registerCtrl.newUser.name" required>
            </div>
            <div class="form-group">
                <label>Surname</label>
                <input type="text" class="form-control" id="surname" placeholder="enter surname" ng-model="registerCtrl.newUser.surname" required>
            </div>
            <div class="form-group">
                <label for="username">Birth date:</label>
                <input type="date" class="form-control" id="birthdate" placeholder="enter birthdate" ng-model="registerCtrl.newUser.birthdate" required>
            </div>
            <div class="form-group">
                <label for="phoneNumber">phoneNumber</label>
                <input type="text" class="form-control" id="phoneNumber" placeholder="enter phoneNumber" ng-model="registerCtrl.newUser.phoneNumber" required>
            </div>
            <div class="form-group">
                <label for="accountNumber">accountNumber</label>
                <input type="text" class="form-control" id="accountNumber" placeholder="enter accountNumber" ng-model="registerCtrl.newUser.accountNumber" required>
            </div>


            <!-- dodatni atributi za registraciju kompanije -->
            <div ng-if="registerCtrl.newUser.userType == 'Company'">
                <div class="form-group">
                    <label for="pib">pib</label>
                    <input type="text" class="form-control" id="pib" placeholder="enter pib" ng-model="registerCtrl.newUser.pib" required>
                </div>
                <div class="form-group">
                    <label for="site">site</label>
                    <input type="text" class="form-control" id="site" placeholder="enter site" ng-model="registerCtrl.newUser.site" required>
                </div>
                <div class="form-group">
                    <label for="fax">fax</label>
                    <input type="text" class="form-control" id="fax" placeholder="enter fax" ng-model="registerCtrl.newUser.fax" required>
                </div>
            </div>

            <!-- dodatni atributi za registraciju kompanije -->
            <div ng-if="registerCtrl.newUser.userType == 'Private Acc in Company'">
                <select ng-model="registerCtrl.newUser.companyId" required>
                    <option ng-repeat="c in registerCtrl.companies">{{c}}</option>
                </select>
            </div>



            <button type="submit" class="btn btn-default" >Submit</button>
        </form>
    </div>
</div>