<div class="about_top">
    <div class="container" style="background: #761c19">
        <div class="about">
            <h1 class="blog_head" style="color: #F94B4B">Your data:</h1>


            <div class="contact">


                <div class="col-md-2 contact_left">

                </div>
                <div class="col-md-8 contact_right">
                    <form>
                        <center>
                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                            <div class="clearfix"> </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="name">Name:</span>
                                    <input type="text" class="text" id="name" ng-model="ownerCtrl.userData.name" disabled value="Enter name here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter name here';}">
                                </div>
                                <div class="text-fild">
                                    <span for="surname">Surname:</span>
                                    <input type="text" class="text" id="surname" ng-model="ownerCtrl.userData.surname" disabled value="Enter surname here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter surname here';}">
                                </div>
                            </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="username">Username:</span>
                                    <input type="text" class="text" id="username" ng-model="ownerCtrl.userData.username" disabled value="Enter email here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter username here';}">
                                </div>
                                <div class="text-fild">
                                    <span for="email">Email:</span>
                                    <input type="text" class="text" id="email" ng-model="ownerCtrl.userData.email" disabled value="Enter password here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter email here';}">
                                </div>
                            </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="birthdate">Date of birth:</span>
                                    </br>
                                    <input style="width: 350px; !important "type="date" class="text" id="birthdate" ng-model="ownerCtrl.userData.birthdate" disabled required value="Enter date of birth here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter date of birth here';}">
                                </div>
                                <div class="text-fild">
                                    <span for="phoneNumber">Phone number:</span>
                                    <input type="text" class="text" id="phoneNumber" ng-model="ownerCtrl.userData.phoneNumber" disabled value="Enter phone number here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter phone number here';}">
                                </div>
                            </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="address">Address:</span>
                                    <input type="text" class="text" id="address" ng-model="ownerCtrl.userData.address" disabled  value="Enter address here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter address here';}">
                                </div>
                                <div class="text-fild">
                                    <span for="city">City:</span>
                                    <input type="text" class="text" id="city" ng-model="ownerCtrl.userData.city" disabled value="Enter city here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter city here';}">
                                </div>
                            </div>
                            <div>
                                <div class="text-fild">
                                    <span for="country">Country:</span>
                                    <input type="text" class="text" id="country" ng-model="ownerCtrl.userData.country" disabled disabled value="Enter country here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter country here';}">
                                </div>
                                <div class="text-fild">
                                    <span for="accountNumber">Bank account:</span>
                                    <input type="text" class="text" id="accountNumber" ng-model="ownerCtrl.userData.accountNumber" disabled value="Enter bank account number here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter bank account number here';}">
                                </div>
                            </div>

                            <div class="clearfix"> </div>

                            <div align = "Center">

                                <label class="btn1 btn-8 btn-8c" ng-click="redirect()"><input type="submit"  value="Edit"></label>
                            </div>
                    </form>

                    </br>
                    </br>

                    <h1 class="blog_head" style="color: #F94B4B">Your listings:</h1>
                    <div <div class="tab-1">
                    <ul class="tab_img tab_1">
                        <li>
                            <div class="client_box1">
                                <img src="images/pic1.jpg" class="img-responsive" alt=""/>
                                <div class="box_type">$&nbsp;650</div>
                                <h3 class="m_1"><a href="single.html">Dolor Sit</a></h3>
                                <div class="boxed_mini_details clearfix">
                                                    <span class="area first"><strong>Rooms</strong><i class="fa fa-car icon1"></i>
                                                    2</span>
                                    <span class="status"><strong>Bathrooms</strong>
                                                    2</span>
                                    <span class="bedrooms last"><strong>Garage</strong>
                                                    2</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="client_box1">
                                <img src="images/pic2.jpg" class="img-responsive" alt=""/>
                                <div class="box_type">$&nbsp;450</div>
                                <h3 class="m_1"><a href="single.html">Dolor Sit</a></h3>
                                <div class="boxed_mini_details clearfix">
                                                <span class="area first"><strong>Rooms</strong><i class="glyphicon glyphicon-user"></i>
                                                    2</span>
                                    <span class="status"><strong>Bathrooms</strong>
                                                    2</span>
                                    <span class="bedrooms last"><strong>Garage</strong>
                                                    2</span>
                                </div>
                            </div>
                        </li>
                        <li class="last">
                            <div class="client_box1">
                                <img src="images/pic3.jpg" class="img-responsive" alt=""/>
                                <div class="box_type">$&nbsp;220</div>
                                <h3 class="m_1"><a href="single.html">Dolor Sit</a></h3>
                                <div class="boxed_mini_details clearfix">
                                                    <span class="area first"><strong>Rooms</strong><i class="fa fa-info icon1"></i>
                                                    2</span>
                                    <span class="status"><strong>Bathrooms</strong>
                                                    2</span>
                                    <span class="bedrooms last"><strong>Garage</strong>
                                                    2</span>
                                </div>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                    <ul class="tab_img">
                        <li>
                            <div class="client_box1">
                                <img src="images/pic4.jpg" class="img-responsive" alt=""/>
                                <div class="box_type">$&nbsp;650</div>
                                <h3 class="m_1"><a href="single.html">Dolor Sit</a></h3>
                                <div class="boxed_mini_details clearfix">
                                                <span class="area first"><strong>Rooms</strong><i class="fa fa-info icon1"></i>
                                                    2</span>
                                    <span class="status"><strong>Bathrooms</strong>
                                                    2</span>
                                    <span class="bedrooms last"><strong>Garage</strong>
                                                    2</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="client_box1">
                                <img src="images/pic5.jpg" class="img-responsive" alt=""/>
                                <div class="box_type">$&nbsp;450</div>
                                <h3 class="m_1"><a href="single.html">Dolor Sit</a></h3>
                                <div class="boxed_mini_details clearfix">
                                                <span class="area first"><strong>Rooms</strong><i class="fa fa-info icon1"></i>
                                                    2</span>
                                    <span class="status"><strong>Bathrooms</strong>
                                                    2</span>
                                    <span class="bedrooms last"><strong>Garage</strong>
                                                    2</span>
                                </div>
                            </div>
                        </li>
                        <li class="last">
                            <div class="client_box1">
                                <img src="images/pic6.jpg" class="img-responsive" alt=""/>
                                <div class="box_type">$&nbsp;500</div>
                                <h3 class="m_1"><a href="single.html">Dolor Sit</a></h3>
                                <div class="boxed_mini_details clearfix">
                                                    <span class="area first"><strong>Garage</strong>
                                                    2</span>
                                    <span class="status"><strong>Baths</strong>
                                                    2</span>
                                    <span class="bedrooms last"><strong>Beds</strong>
                                                    2</span>
                                </div>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                </div>
            </div>
        </div>


    </div>





    <div class="clearfix"> </div>
</div>





<div class="clearfix"> </div>
</br>

</div>
</div>
