
<div class="about_top">
    <div class="container">
        <div class="about">
            <h1 class="blog_head" style="color: #F94B4B">Add new real estate:</h1>


            <div class="contact">


                <div class="col-md-2 contact_left">

                </div>
                <div class="col-md-8 contact_right"  ng-submit="addNewRealEstateCtrl.addNewRealEstate()">
                    <form>
                        <center>
                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                            <div class="clearfix"> </div>

                            </br></br>

                            <div>
                                <div class="text-fild">
                                    <span for="name">Select type of real estate:</span>
                                </div>
                                <div class="col-md-4 contact_left">

                                </div>
                                <div>
                                    <select style="line-height: 44px;
  							border: 1px solid #DAD8D8;
  							width: 370px;" ng-model="addNewRealEstateCtrl.newRE.rs_type" required>
                                        <option style="color: #F94B4B;" ng-repeat="t in addNewRealEstateCtrl.types">{{t}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="message-fild">
                                <span for="description">Description:</span>
                                <textarea type="text" class="text" id="description" required ng-model="addNewRealEstateCtrl.newRE.description" required value="Enter surname here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter surname here';}" > </textarea>
                            </div>

                            <div class="text">
                                <div class="text-fild">
                                    <span for="city">City:</span>
                                    <input type="text" class="text" id="city"  required ng-model="addNewRealEstateCtrl.newRE.city" onfocus="this.value = '';">
                                </div>
                                <div class="text-fild">
                                    <span for="cityArea">City area:</span>
                                    <input type="text" class="text" id="cityArea" required ng-model="addNewRealEstateCtrl.newRE.cityArea"  value="Enter surname here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter surname here';}">
                                </div>
                            </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="street">Street:</span>
                                    <input type="text" class="text" id="street" required ng-model="addNewRealEstateCtrl.newRE.street"  value="Enter email here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter username here';}">
                                </div>
                                <div class="text-fild">
                                    <span for="streetNumber">Street number:</span>
                                    <input type="text" class="text" id="streetNumber" required ng-model="addNewRealEstateCtrl.newRE.streetNumber"  value="Enter password here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter email here';}">
                                </div>
                            </div>

                            <div class="text">
                                <div class="text-fild">
                                    <span for="state">Country:</span>
                                    </br>
                                    <input type="text" class="text" id="state" required ng-model="addNewRealEstateCtrl.newRE.state">
                                </div>
                                <div class="text-fild">
                                    <span for="zipCode">Zip code:</span>
                                    <input type="text" class="text" id="zipCode" required ng-model="addNewRealEstateCtrl.newRE.zipCode"  value="Enter phone number here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter phone number here';}">
                                </div>
                            </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="area">Area in m2:</span>


                                    <input type="number" style="width: 350px; line-height: 44px;
                                           border: 1px solid #DAD8D8; !important" class="text" min="0" step = 0.01 id="area" required ng-model="addNewRealEstateCtrl.newRE.area"  onkeypress="return isNumber(event)" />



                                </div>
                                <div class="text-fild">
                                    <span for="constructionYear">Construction year:</span>
                                    <input type="text" class="text" id="constructionYear" required ng-model="addNewRealEstateCtrl.newRE.constructionYear"  value="Enter city here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter city here';}">
                                </div>
                            </div>
                            <div>
                                <div class="text-fild">
                                    <span for="roomsNumber">Room number:</span>
                                    <input style="width: 350px; line-height: 44px;
                                           border: 1px solid #DAD8D8; !important"  type="number"  min=0 class="text" id="roomsNumber" required ng-model="addNewRealEstateCtrl.newRE.roomsNumber"   value="Enter country here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter country here';}">
                                </div>
                                <div class="text-fild">
                                    <span for="bathroomsNumber">Bathroom number:</span>
                                    <input style="width: 350px; line-height: 44px;
                                           border: 1px solid #DAD8D8; !important" type="number" min=0 class="text" id="bathroomsNumber" required ng-model="addNewRealEstateCtrl.newRE.bathroomsNumber"  value="Enter bank account number here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter bank account number here';}">
                                </div>
                            </div>
                            <div>
                                <div class="text-fild">
                                    <span for="furniture">Furniture:</span>
                                    <input type="checkbox" class="text" id="furniture"  ng-model="addNewRealEstateCtrl.newRE.furniture"   value="Enter country here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter country here';}">
                                </div>
                                <div class="text-fild">
                                    <span for="parking">Parking:</span>
                                    <input type="checkbox" class="text" id="parking"  ng-model="addNewRealEstateCtrl.newRE.parking"  value="Enter bank account number here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter bank account number here';}">
                                </div>
                            </div>
                            <div class="col-md-4 contact_left">

                            </div>
                            <div>
                                <div class="text-fild">
                                    <span for="name">Select type of heating:</span>
                                </div>

                                <div>
                                    <select style="line-height: 44px;
  							border: 1px solid #DAD8D8;
  							width: 370px;" ng-model="addNewRealEstateCtrl.newRE.heatingType" required>
                                        <option style="color: #F94B4B;" ng-repeat="t in addNewRealEstateCtrl.typesOfHeating">{{t}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"> </div>
                            <div align = "Center">

                                <label class="btn1 btn-8 btn-8c" ><input type="submit"  value="Save"></label>

                            </div>
                    </form>
                </div>
            </div>

            <div class="clearfix"> </div>
        </div>





        <div class="clearfix"> </div>
        </br>
    </div>
</div>
<